.header-flex {
  margin-bottom: 0.7rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #1976d2;
  display: flex;
  align-items: center;
  gap: 10px;
}

.assigned-truck-box {
  background: #f5faff;
  border: 1px solid #bbdefb;
  border-radius: 8px;
  margin: 16px 0;
  padding: 16px 24px;
  box-shadow: 0 1px 6px rgba(25, 118, 210, 0.07);
  max-width: 420px;
}

.assigned-truck-box h4 {
  font-size: 1.2rem;
  color: #1565c0;
  margin-bottom: 12px;
  font-weight: bold;
}

.assigned-truck-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.assigned-truck-box li {
  padding: 5px 0;
  font-size: 1rem;
  color: #1a237e;
}

.assigned-truck-box li b {
  font-weight: 500;
  color: #1976d2;
}

.global-loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(
    240,
    245,
    250,
    0.47
  ); /* semi-transparent blue/gray overlay */
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  pointer-events: all; /* prevents clicks to background while loading */
}
.global-loader-overlay .simple-spinner {
  width: 40px;
  height: 40px;
  border: 6px solid #1976d2;
  border-top: 6px solid #bbdefb;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

.global-loader-overlay span {
  font-size: 1.2rem;
  color: #1976d2;
  font-weight: 500;
  letter-spacing: 1px;
  text-shadow: 0 1px 2px #fff;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
